<tr>
  <%# TODO deal with different types of values, type1,2,3 %>
  <td>
    <h3><%= link_to involved_gene.gene_symbol, involved_gene.gene %></h3>
  </td>
  <td><%= involved_gene.position %></td>
</tr>
