.bundle
db/*.sqlite3
db/*.sql
/log/*.log
tmp/
*.swp
*.[oa]
*~
db/sphinx/*
config/*.sphinx.conf
.~lock.*
webrat.log
.cache_*
db/data.yml
config/*.yml
.DS_Store
.sass-cache/
app/data
public/system/*
!public/system/downloads/
.csv
vendor/