.alert.alert-citation
  p #{glyphicon(:'warning-sign')} MarkerDB is offered to the public as a freely available resource. Use and re-distribution of the data, in whole or in part, for commercial purposes requires explicit permission of the authors and explicit acknowledgment of the source material (MarkerDB) and the original publication (see below). We ask that users who download significant portions of the database to cite the following paper in any resulting publications.
  br
  p Please Cite: Wishart DS, Bartok B, Oler E, Liang KYH, Budinski Z, Berjanskii M, Guo AC, Cao X, Wilson M. MarkerDB: An Online Database of Molecular Biomarkers. Manuscript in preparation.
