<%= box "FAIR Compliance " do %>
    <div>
      MarkerDB is FAIR. Specifically, it is:
      <br>
      <br>FINDABLE:
      <br><strong>F1. (meta)data are assigned a globally unique and eternally persistent identifier.</strong>
      <br>All biomarker data in MarkerDB is assigned an 8 digit globally unique MDB identifier. This identifier is searchable within the database and associated with all biomarker data in the online database. Furthermore, the identifier is associated with all data downloadable from the database.
      <br><strong>F2. data are described with rich metadata.</strong>
      <br>All biomarker data in MarkerDB are described with rich metadata. Every chemical, protein, gene and karyotype maker, along with every disease associated with each biomarker is described in detail. Additionally, citable scientific references are provided for each entry, structures (when available) are provided, sequences (when available) are provided and details about the performance, utility and reliability of the biomarker are provided.
      <br><strong>F3. (meta)data are registered or indexed in a searchable resource.</strong>
      <br>All the data and metadata in MarkerDB is indexed, viewable and registered through the MarkerDB online database at www.markerdb.ca
      <br><strong>F4. metadata specify the data identifier.</strong>
      <br>All metadata entries in MarkerDB are directly linked to the MarkerDB (MDB) identifier and the associated biomarker(s).
      <br>
      <br>ACCESSIBLE:
      <br><strong>A1  (meta)data are retrievable by their identifier using a standardized communications protocol.</strong>
      <br>All data and metadata are retrievable from their MDB identifier through the MarkerDB website. Similarly, all data in MarkerDB may be downloaded in JSON and/or XML format via MarkerDB’s download section through a standard internet communications protocol
      <br><strong>A1.1 the protocol is open, free, and universally implementable.</strong>
      <br>The MarkerDB website is open and free and its data download operation is compatible with all modern web browsers. MarkerDB’s downloadable data is in a format that is universally readable.
      <br><strong>A1.2 the protocol allows for an authentication and authorization procedure, where necessary.</strong>
      <br>No authentication or authorization is required for MarkerDB’s data.
      <br><strong>A2 metadata are accessible, even when the data are no longer available.</strong>
      <br>All of MarkerDB’s metadata are linked or linkable to more permanent data sources (PubMed, GenBank, UniProt, PDB). The availability of freely downloadable data (and metadata) for MarkerDB ensures that its metadata will exist and be accessible for an extended period of time.
      <br>
      <br>INTEROPERABLE:
      <br><strong>I1. (meta)data use a formal, accessible, shared, and broadly applicable language for knowledge representation.</strong>
      <br>All textual data and metadata in MarkerDB are written in English, all sequence data is in FASTA format, all images are stored in PNG format, all nomenclature for diseases, genes, proteins and metabolites follows standard ontologies or vocabularies used to describe these entities.
      <br><strong>I2. (meta)data use vocabularies that follow FAIR principles.</strong>
      <br>All data and metadata in MarkerDB uses ontologies and vocabularies that are open, findable, accessible, interoperable and re-usable.
      <br><strong>I3. (meta)data include qualified references to other (meta)data.</strong>
      <br>All data and metadata in MarkerDB is fully referenced with detailed descriptions of their provenance and sources.
      <br>
      <br>RE-USABLE:
      <br><strong>R1. meta(data) have a plurality of accurate and relevant attributes.</strong>
      <br>All data and metadata in MarkerDB have been carefully curated and vetted by multiple skilled curators and all data in MarkerDB have attributes that are relevant, up-to-date and accurate.
      <br><strong>R1.1. (meta)data are released with a clear and accessible data usage license.</strong>
      <br>All data and metadata in MarkerDB are released under the Creative Commons (CC) 4.0 License Suite according to the Attribution (BY) and Non-commercial (NC) licensing conditions.
      <br><strong>R1.2. (meta)data are associated with their provenance.</strong>
      <br>All data and metadata in MarkerDB have detailed descriptions of their provenance and sources
      <br><strong>R1.3. (meta)data meet domain-relevant community standards.</strong>
      <br>MarkerDB has undergone extensive peer review by members of the biomarker community and has met the standards for publication in Nucleic Acids Research’s database issue. All the data in MarkerDB has met the standards for publication in peer-reviewed scientific journals and international scientific conferences.
    </div>
<% end %>