<%= wide_column do %>
  <%= box "Contact Us" do %>
    <p>MarkerDB was developed by the <a href="http://wishartlab.com">Wishart Research Group</a>.
    	We would love to hear your feedback, suggestions, or reports on errors or inconsistencies in MarkerDB. Please use our lab's Feedback Form and we will direct your message to the appropriate expert.
    </p>
    <a class="btn btn-primary" style="border-color: #515151; background-color:#898989; color:white;" href="http://feedback.wishartlab.com?site=markerdb">Wishart Research Group feedback form</a>
  <% end %>
<% end %>
