# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6c868bd6a05b6a04b3e4a4ea6ca5789570df82287a595534b9521f6823daf1ffe93e4d36a4a0763038279274d3b57e1a812a021df6c3f051b0c93e536adb0358

test:
  secret_key_base: 53720764f3c95a0439578db0c7d81165953cbca50a42252138db1a786efcf84da783c91d8401e3861acd76d22c976a99ef996b41d3a58530b1bcb597f6876a85

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
