p.notice, p.alert {
  background: none repeat scroll 0 0 #E2ED82;
  border: 1px solid #CCCCCC;
  border-radius: 10px 10px 10px 10px;
  color: #666666;
  font-weight: bold;
  padding: 10px;
}
p.alert {
  background: none repeat scroll 0 0 #F7B0B4;
}

